
body {
    margin: 20px;
    height: 50vh;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: black;
    
}
/*-------------------------------------------------------------------------------*/
                        /* Kopfbereich der Page LOGO etc.*/
                        .container {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            max-width: 95vw;
                            background-color: darkslategrey;
                            padding: 5px;
                            border-style: double;
                            border-radius: 30px;
                        
                            }
                            .container img {
                            max-width: 100%;
                            height: auto;
                            display: block;  
                        }
                            img {
                                border-radius: 30px;
                            }
                        /*------------------------------------------------------*/


                        h1 {
                            color: aqua;
                            border-style: double ;
                            border-radius: 5px;
                        }
                        p1 {
                            font-size: 1.2em;
                            color: tomato;
                    }

                        p2 {
                            color: rgb(235, 235, 167);
                            font-size: 15px;
                        }

                        h2 {
                            font-size: 50px;
                            text-decoration: underline;
                            color: aliceblue;
                        }
                            
                        h3 {
                            font-size:30px ;
                            color: beige;
                        }    
                        /* Blogbereich*/
                        section {
                            display: flex;
                            flex-direction: column-reverse;
                            justify-content: center;
                            align-items: center;
                        }

                            .posts {
                                background-color: rgb(41, 2, 25);
                                border-radius: 30px;
                                border-style: solid;
                                border-color: aqua;
                                padding: 20px;
                        
                        
                    
                    }

                            .post {
                                
                                background-color:rgb(41, 2, 25);
                                border-style: solid;
                                border-color: rgb(6, 150, 30);
                                border-radius: 3px;
                                padding: 20px;
                                width: 50em;

                                display: block;
                                justify-content: center;
                                align-items: center;
                                text-align: center;

                                margin-bottom: 10px;
                                }
                            /*----------Links----------*/
                            .firstlink a {
                                    color: beige;
                                }
                            .firstlink a:hover {
                                color: gold;
                            }

                            a {
                                display: block;
                            }
/*------------------------------UNTEN-------------------------------------------------*/
footer {
    color: beige;
    background-color: darkslategray;
    padding: 10px;
    margin-top: 100%;



}
