header {
    display: flex;
    justify-content: center;
    border-color: aqua;
    border-style: dotted;
    
}
    /*BILD*/
    #LOGO-Head {
        display: flex;
        width: 50%;

        border-color: aliceblue;
        border-style:groove;
        border-radius: 30px;
    }
 /*--------------Mittelteil-----------*/   

        body {
            background-color: black;
            border-color: rgb(60, 204, 3);
            border-style: dashed;
            color: antiquewhite;
        }

        div {
            display: flex; 

            border-style: double;
            border-width: 10px;
            border-color: brown;

            margin: 20px ; 
        }

          /* Responsive layout - makes a one column layout instead of a two-column layout */

            @media (max-width: 800px) {
                div {flex-direction: column;}
            }
           
            
        h1 {
            display: flex;
            border-color: green;
            border-style: inherit;

        }

        
        
                        
  
     
/*-------------UNTEN---------------*/
footer {
    display: flex;
    justify-content: center;
    margin-top: 100%;   
    }
    .backlink {
        font-size: 20px;
    }
