
body {
    margin: 20px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

    display:flex;
    justify-content: center;
    text-align: center;



    padding: 40px;
    background-color: black;
    
}

/*-------------------------------------------------------------------------------*/
                        /* Kopfbereich der Page LOGO etc.*/
                        .container {
                            display: block;

                            max-width: 95vw;

                            background-color: rgb(14, 36, 36);
                            padding: 10px;
                            border-style: double;
                            border-color: aqua;
                            border-radius: 30px;
                        
                            
                        }
                            img{
                                width: 90%;
                                border-radius: 5px;
                                size: 10%;
                                
                            }
                        /*------------------------------------------------------*/


                        h1 {
                            color: aqua;
                            border-style: double ;
                            border-radius: 5px;
                        }
                        p1 {
                            font-size: 1.2em;
                            color: tomato;
                        }

                        p2 {
                            color: rgb(235, 235, 167);
                            font-size: 15px;
                            
                            display: inline-block;
                        }
                        /* P5 für Datum*/
                        p5 { display: block;
                            font-size: 15px;
                            color: lightgray;
                            
                        }

                        h2 {
                            font-size: 50px;
                            text-decoration: underline;
                            color: aliceblue;
                        }
                            
                        h3 {
                            font-size:30px ;
                            color: beige;
                            margin: 10px;
                        }  
                        
                        .pagination {
                            margin: 10px
                        }   
                        .pagination-link {
                                color: limegreen;
                                
                        }
                        .BLOGLINK {
                            color: lightblue;
                            font-size: 70px;
                            font-family: 'Arial Black', Arial, Helvetica, sans-serif;
                        }
                        /* Blogbereich*/

                        .Hauptbereich {
                            display: flex;
                            max-width: 95vw;
                            
                            flex-direction: row;

                            border-style: solid;
                            border-color: tomato;

                        }
                                            .LinkeLinks, .RechteÜbersicht {
                                                border-style: solid;
                                                border-color: aqua;
                                                border-radius: 30px;
                                                margin: 20px;
                                                padding: 20px;

                                            }
                                            .Postcontainer {

                                                display: flex;
                                                
                                                width: 80vw;
                                                max-height: 700px;
                                                flex-direction: column;
                                                justify-content: flex-start;
                                                align-items: center;

                                                overflow-y: auto;
                                            
                                            
                                                background-color: rgb(41, 2, 25);
                                                border-radius: 30px;
                                                border-style: solid;
                                                border-color: aqua;
                                                
                                                padding: 100px;
                                                margin: 20px;
                                           
                                            
                                            }
                                                /*Blendet Seite auf mobilen Geräten aus*/
                                            @media (max-width: 800px) {
                                                .LinkeLinks, .RechteÜbersicht {display: none;} 
                                                }
                                                
                                            

                                            


                                            /*----------Blogeinträge----------*/

                                                .post {
                                                    width: 80%;
                                                    background-color:rgb(41, 2, 25);
                                                    border-style: solid;
                                                    border-color: rgb(6, 150, 30);
                                                    border-radius: 30px;
                                                    padding: 20px;
                                                    
                                                
                                                    justify-content: center;
                                                    align-items: center;

                                                    margin-bottom: 10px;
                                                    }

                                                /*----------Bilder in den Blogeinträgen----------*/
                                                .post img {
                                                    max-width: 50%;
                                                    height: auto;
                                                    border-radius: 10px;
                                                    border-style: solid;
                                                    border-color: aqua;
                                                    border-width: 5px;
                                                    margin-top: 10px;
                                                    margin-bottom: 10px;
                            }
                            /*----------Links----------*/

                            .firstlink a {
                                    display: block;
                                    color: beige;
                                }
                            .firstlink a:hover {
                                color: gold;
                            }

                            .external-Links {
                                display: inline-block   ;
                                color: lightcyan;
                                background-color: rgb(18, 148, 29);
                                padding: 5px;
                                margin: 5px;
                                border-radius: 10px;
                            }
                            .external-Links:hover {
                                color: gold;
                            }

                            .internal-links {
                                display: inline-block   ;
                                color:lightcyan;
                                background-color: rgb(98, 148, 18);
                                padding: 5px;  
                                margin: 5px;
                                border-radius: 10px;
                            }



                             @media (max-width: 1300px) {
                                iframe {width: 90%; height: auto;}
                                }


/*------------------------------UNTEN-------------------------------------------------*/
footer {
    display: flex;

    color: beige;
    border-radius: 30px;
    background-color: darkslategray;
    padding: 10px;
    margin-top: 10px;

}
                    /*Flex:1 Verteilt die drei divs gleichmäßig im footer*/
                    .footerlinks {                       
                        flex: 1;
                    }
                    .footermitte{ 
                        flex: 1;
                    }
                    .footerrechts{      
                        flex: 1;
                    }


                    .hitcounter {
                        width: 150px;
                        height: auto;
                        margin-top: 10px;
                        margin-bottom: 10px;

                    }

                    @media (max-width: 800px) {
                        footer {flex-direction: column;}
                            
                    }
