/* Gesamte Seite: Höhe 100%, zentrieren mit Flexbox */
body {
    margin: 0;
    height: 100vh;
    background-color:'black';
    color:  rgb(71, 30, 30);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* Container beschränkt die Breite auf kleinen Geräten */
.container {
    max-width: 90%;
}

/* Bild wird kleiner auf kleinen Bildschirmen */

img {
    max-width: 0.9em;
    height: auto;
    margin-bottom: 20px;
}


h1 {
    color: aqua;
}
p {
    font-size: 1.2em;
    font-color: red;
}
