/* Gesamte Seite: Höhe 100%, zentrieren mit Flexbox */
body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* Container beschränkt die Breite auf kleinen Geräten */
.container {
    max-width: 90%;
    background-color: rgb(rgb(41, 38, 38), green, blue);
}

/* Bild wird kleiner auf kleinen Bildschirmen */

img {
    width:90%;
    height: auto;
    margin-bottom: 20px;
}


h1 {
    color: aqua;
}
p {
    font-size: 1.2em;
    color: red;
}
